{{- $image := .Page.Resources.GetMatch (.Get "src") -}}
{{- if $image -}}
  {{- $w := int (or (.Get "width") 800) -}}
  {{- $src := $image.RelPermalink -}}
  {{- if and (eq $image.ResourceType "image") (gt $image.Width $w) -}}
    {{- $thumb := $image.Resize (printf "%dx webp q82" $w) -}}
    {{- $src = $thumb.RelPermalink -}}
  {{- end -}}
  <img src="{{ $src }}" alt="{{ .Get "alt" }}" loading="lazy" class="img-responsive">
{{- else -}}
  <img src="{{ .Get "src" }}" alt="{{ .Get "alt" }}" loading="lazy" class="img-responsive">
{{- end -}}
